.footer{
    align-self: flex-end;
    background-color: rgba(0,0,0, 0.85);
    border-bottom-left-radius: var(--radius-on-container);
    border-bottom-right-radius: var(--radius-on-container);
    height: 600px;
    background-image: url("/photos/dogSectionImage.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.footerTop{
    height: 250px;
}

.footerBottom{
    flex: 1;
    background-color:rgba(0,0,0, 0.85);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid; 
    grid-template-columns: 1fr;
}

.footerBottom div {
    border-right: 1px solid white;
}