.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top-left-radius: var(--radius-on-container);
    border-top-right-radius: var(--radius-on-container);
    background: transparent;
    height: 100px;
}

.ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}
.ul li {
    margin-right: 10px;
    color: #6e6d6e;
    
}

.logo{
    padding-top: 15px;
}
